body{
    background: #F8F8F8;
}


.card-img-top{
    width: 100%;
    height: 250px;
}


.product_title{
    font-size: 30 px;
    text-transform: uppercase;
    letter-spacing: .2em;
    padding-top: 15px;
    padding-bottom: 10px;
}

.product_text{
    padding-right: 20px;
}

.product_desc{
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .2em;
}

#price{
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: red;
}

.errorlist li{
    color: red;
    font-weight: bold;
}

/* Style the form container */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Style the form */
form {
    width: 100%;
    max-width: 500px;
}

/* Style the form fields */
.form-group {
    margin-bottom: 1rem;
}

/* Style the form field labels */
.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

/* Style the form field inputs */
.form-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Style the form field errors */
.error {
    color: red;
    font-size: 0.8rem;
    margin-top: 0.25rem;
}

.custom_div{
    margin-bottom: 20px; !important;
}

