
<nav class="navbar navbar-expand-md navbar-light bg-dark">
    <a href="{% url 'home' %}" class="navbar-brand"><i class="material-symbols-outlined text-success material-icons md-48">storefront</i></a>
    <button class="navbar-toggler bg-success" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="navbar-nav flex-column flex-md-row">
            <li class="nav-item dropdown">
                <a type="button" class="btn btn-secondary dropdown-toggle nav-link text-white text-uppercase font-weight-bolt px-3" data-bs-toggle="dropdown" href="">Categories</a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><button class="dropdown-item" type="button"><a href="{% url 'home' %}" class="menu">All products</a></button></li>
                    {% for category in links %}
                    <li><button class="dropdown-item" type="button"><a href="{{category.get_url}}" class="menu">{{category.name}}</a></button></li>
                    {% endfor %}

                </ul>
            </li>
            <li class="nav-item"><a class="nav-link text-white text-uppercase font-weight-bolt px-3" href="">Contacts</a></li>
            <li class="nav-item"><a class="nav-link text-white text-uppercase font-weight-bolt px-3" href="">About</a></li>
        </ul>
        <form class="from-inline ms-auto">
            <div class="input-group">
                <input type="text" placeholder="Search" class="form-control">
                <div>
                    <button class="btn btn-success">
                        <i class="material-symbols-outlined">search</i></button>
                </div>
            </div>
        </form>
    </div>
</nav>
