{% extends 'base.html' %}
{% load static %}
{% block title %}
    Product
{% endblock %}
{% block content %}
    <div class="container py-5">
        <div class="row mt-5">
            <div class="col-md-10 mx-auto col-md-6 my-3">
                <img src="{{product.image.url}}" class="img-fluid" alt="{{product.name}}">
            </div>
        </div>
    </div>
    <div class="col-md-10 mx-auto col-md-6 my-3">
        <div>
            <h1 class="product_title">{{product.name}}</h1>
            <p id="price" class="fst-italic fw-bold">{{product.price}} $</p>
            <p class="product_desc">{{product.description}}</p>
            <p class="product_text">{% if product.stock <= 0 %} Out of stock}</p>
            {% else %}
            <a href="">Add to cart</a>
            {% endif %}
        </div>
    </div>
{% endblock %}